

/*bootstrap css container col and row padding margin */
@media screen and (max-width: 768px){
	.row{
		margin-left:-8px;
		margin-right:-8px;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
		padding-right: 8px;
		padding-left: 8px;
	}
	h1, .h1{
		font-size:22pt;
	}
	h2, .h2{
		font-size:20pt;
	}
	h3, .h3{
		font-size:18pt;
	}
	h4, .h4{
		font-size:16pt;
	}
	h5, .h5{
		font-size:14pt;
	}
	h6, .h6{
		font-size:10pt;
	}
	
}
@media screen and (max-width: 576px) {
	
	.container {
		width:100%;
		padding-right: 8px !important;
		padding-left: 8px !important;
	}
	.row{
		margin-left:-4px;
		margin-right:-4px;
	}
	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
		padding-right: 8px !important;
		padding-left: 8px !important;
	}

}/* end of  bootstrap css container col and row padding margin */




/*Bootstrap form control css*/
.form-control{
	outline: none !important;
}
.form-control:focus{
	outline: none !important;
	border-color: inherit !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
button:focus {
  outline: none !important;
}

.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0) !important;
}/* End Of Bootstrap form control css*/












.play-btn{
	display:inline-block;
	display:flex;
	align-items:center;
	width:70px;
	height:70px;
	background-color:white;
	border-radius:100%;
	position:relative;
}
.play-btn:hover{
	color:#AA1440;
}
.play-btn i{
	position:absolute;
	top:0px;
	left:4px;
	right:0px;
	bottom:0px;
	display:block;
	line-height:70px;
	z-index:1;
}
.play-btn:after,
.play-btn:before{
	top:-15px;
	left:-15px;
	right:-15px;
	bottom:-15px;
	content:'';
	position:absolute;
	border-radius:100%;
	background-color:rgba(255,255,255, 0.4);
}
.play-btn:after{
	animation: play 2.5s infinite;
	opacity:0;
}

@keyframes play {
	0% {
		opacity:1;
		top:-16px;
		left:-16px;
		right:-16px;
		bottom:-16px;
	}
	100% {
		opacity:0;
		top:-40px;
		left:-40px;
		right:-40px;
		bottom:-40px;
	}
}
